
.mat-box {
    border-style: solid;
    border-width: 5px;
    border-color: gray;
    padding: 25px;
    margin: 6px;
    width: 33%;
    height: 600px;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-box-control {
    border-style: solid;
    border-width: 5px;
    border-color: gray;
    padding: 25px;
    margin: 6px;
    width: 33%;
    height: 420px;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mat-container-control {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-container {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: red;
    height: 80px;
    font-size: 80px;
    padding-bottom: 40px;
}

.current-key-container {
    flex: auto;
    display: auto;    
}

.key {
    color: gray;
    height: 80px;
    font-size: 60px;
}

.key-control {
    color: gray;
    height: 45px;
    font-size: 30px;
}

.title-control {
    color: red;
    height: 20px;
    font-size: 30px;
    padding-bottom: 10px;
}


.current-key {
    color: gray;
    font-size: 30px;
    padding: 30px 0px;
}

.mesa-container {
    padding-top: 30px;
}

.mesas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mesa-item {
    width: 30px;
    height: 20px;
    border-width: 3px;
    border-color: gray;
    border-style: solid;    
    display: flex;
    justify-content: center;
    margin: 5px 5px 5px 0px;
    user-select: none;
    cursor: pointer;
    touch-action: manipulation;
}

body {
    background-color: black;
    color: white;
}